@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --white: #ffffff;
  --light-grey: #535262;
  --grey: #403f4e;
  --dark-grey: #393844;
}

html {
  font-size: 16px;
  scroll-padding-top: 2rem;
}

html, body {
  color: var(--white);
  background-color: var(--dark-grey);
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  min-width: 300px;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: underline;
  }

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: 6px solid var(--grey);
}

header {
  color: var(--white);
  background-color: var(--light-grey);
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.8rem;
}

.desktop-nav > p {
  padding: 0 1rem;
  text-align: center;
}
.desktop-nav > p > a {
  display: inline;
  padding: 0;
  color: var(--white);
  text-decoration: underline;
  cursor: pointer;
}

#navbar ul {
  /* height: 88%; */
  padding: 0;
  margin: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.desktop-nav {
  visibility: visible;
}

.desktop-nav li {
  color: var(--light-grey);
  margin: 4px 0;
  list-style: none;
  width: 100%;
}

.desktop-nav a {
  display: block;
  padding: 10px 30px;
  color: var(--white);
  background-color: var(--grey);
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

#navbar a:hover{
  background-color: var(--light-grey);
}

.mobile-nav {
visibility: hidden;
width: 80%;
background-color: var(--light-grey);
border: 0.5rem solid var(--light-grey);
border-radius: 5px;
color: var(--white);
font-size: 1rem;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

section article {
  color: var(--white);
  margin: 15px;
  font-size: 1em;
}

section li {
  margin: 15px 0px 0px 20px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  line-height: 2;
  background-color: var(--grey);
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

main > p:last-of-type {
  visibility: hidden;
}

/* Media Query for mobile */
@media only screen and (max-width: 815px) {
  html {
    scroll-padding-top: 12rem;
    /* Found a fix for properly aligning page anchors below mobile navbar from https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors */
  }

  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 12rem;
    width: 100vw;
    border: none;
    z-index: 1;
    background-color: var(--dark-grey);
  }

  #navbar > header {
    width: 80%;
    margin: 0.6rem;
  }

  .desktop-nav {
    visibility: hidden;
    position: absolute;
    top: -1;
    left: -1;
  }

  .mobile-nav {
    visibility: visible;
    margin: 0.6rem 0;
  }

  #main-doc {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 0;
    padding-top: 12rem;
  }
  /* body {
    padding-top: 10rem;
  } */

  main > p:last-of-type {
    visibility: visible;
    text-align: center;
  }

  ul {
    padding-left: 0;
  }
}
